@charset "UTF-8";

body{
	text-align: center;
	background-color:rgba(249,234,210, 1);
	justify-content:center;
	align-items: center;
}

input{
	font-size: 20px;
}


.loged_in{
	background-color: rgba(205,223,239, 1);
	border: 1px solid #d3d3d3;
	width: 30%;
	height: 400px;
	margin: 100px auto;
	
}

.member{
	margin: 20px auto;
	
}
.buttonlogin{
	/*margin: 200px 5px auto;*/
	display       : inline-block;
  	border-radius : 20%;          /* 角丸       */
  	font-size     : 18pt;        /* 文字サイズ */
  	text-align    : center;      /* 文字位置   */
  	cursor        : pointer;     /* カーソル   */
  	padding       : 12px 12px;   /* 余白       */
  	background    : #99ccff;     /* 背景色     */
  	color         : #ffffff;     /* 文字色     */
  	line-height   : 1em;         /* 1行の高さ  */
  	transition    : .3s;         /* なめらか変化 */
  	border        : 2px solid #99ccff;    /* 枠の指定 */
}
.button:hover {
  color         : #99ccff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

